@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  font-family: "Akkurat Mono";
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.menu-sub-col {
  flex: 1;
}

.menu-sub-item p {
  position: relative;
}
