@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Timmons NY";
}

h1 span {
  position: relative;
  top: 400px;
}

@media (max-width: 900px) {
  .pre-loader {
    padding: 1em;
    gap: 0.5em;
  }

  .counter {
    font-size: 70px;
  }

  .pre-loader p {
    font-size: 40px;
    line-height: 64px;
  }
}
